/*
 * Boomega
 * Copyright (C)  2021  Daniel Gyoerffy
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

@font-face {
    src: url('/com/dansoftware/boomega/gui/font/JetBrainsMono-Bold.ttf');
}

@font-face {
    src: url('/com/dansoftware/boomega/gui/font/JetBrainsMono-BoldItalic.ttf');
}

@font-face {
    src: url('/com/dansoftware/boomega/gui/font/JetBrainsMono-ExtraBold.ttf');
}

@font-face {
    src: url('/com/dansoftware/boomega/gui/font/JetBrainsMono-ExtraBoldItalic.ttf');
}

@font-face {
    src: url('/com/dansoftware/boomega/gui/font/JetBrainsMono-ExtraLight.ttf');
}

@font-face {
    src: url('/com/dansoftware/boomega/gui/font/JetBrainsMono-ExtraLightItalic.ttf');
}

@font-face {
    src: url('/com/dansoftware/boomega/gui/font/JetBrainsMono-Italic.ttf');
}

@font-face {
    src: url('/com/dansoftware/boomega/gui/font/JetBrainsMono-Light.ttf');
}

@font-face {
    src: url('/com/dansoftware/boomega/gui/font/JetBrainsMono-LightItalic.ttf');
}

@font-face {
    src: url('/com/dansoftware/boomega/gui/font/JetBrainsMono-Medium.ttf');
}

@font-face {
    src: url('/com/dansoftware/boomega/gui/font/JetBrainsMono-MediumItalic.ttf');
}

@font-face {
    src: url('/com/dansoftware/boomega/gui/font/JetBrainsMono-Regular.ttf');
}

@font-face {
    src: url('/com/dansoftware/boomega/gui/font/JetBrainsMono-Thin.ttf');
}

@font-face {
    src: url('/com/dansoftware/boomega/gui/font/JetBrainsMono-ThinItalic.ttf');
}

@font-face {
    src: url('/com/dansoftware/boomega/gui/font/JetBrainsMonoNL-Bold.ttf');
}

@font-face {
    src: url('/com/dansoftware/boomega/gui/font/JetBrainsMonoNL-BoldItalic.ttf');
}

@font-face {
    src: url('/com/dansoftware/boomega/gui/font/JetBrainsMonoNL-ExtraBold.ttf');
}

@font-face {
    src: url('/com/dansoftware/boomega/gui/font/JetBrainsMonoNL-ExtraBoldItalic.ttf');
}

@font-face {
    src: url('/com/dansoftware/boomega/gui/font/JetBrainsMonoNL-ExtraLight.ttf');
}

@font-face {
    src: url('/com/dansoftware/boomega/gui/font/JetBrainsMonoNL-ExtraLightItalic.ttf');
}

@font-face {
    src: url('/com/dansoftware/boomega/gui/font/JetBrainsMonoNL-Italic.ttf');
}

@font-face {
    src: url('/com/dansoftware/boomega/gui/font/JetBrainsMonoNL-Light.ttf');
}

@font-face {
    src: url('/com/dansoftware/boomega/gui/font/JetBrainsMonoNL-LightItalic.ttf');
}

@font-face {
    src: url('/com/dansoftware/boomega/gui/font/JetBrainsMonoNL-Medium.ttf');
}

@font-face {
    src: url('/com/dansoftware/boomega/gui/font/JetBrainsMonoNL-MediumItalic.ttf');
}

@font-face {
    src: url('/com/dansoftware/boomega/gui/font/JetBrainsMonoNL-Regular.ttf');
}

@font-face {
    src: url('/com/dansoftware/boomega/gui/font/JetBrainsMonoNL-Thin.ttf');
}

@font-face {
    src: url('/com/dansoftware/boomega/gui/font/JetBrainsMonoNL-ThinItalic.ttf');
}